@import '~bootstrap/dist/css/bootstrap.css';
@import '~formiojs/dist/formio.full.min.css';
@import '~antd/dist/antd.min.css';
@import '~react-toastify/dist/ReactToastify.css';
/* @import '~formiojs/dist/formio.full.css'; */

/* mt-1 {
    margin-top: 4px;
}
mt-2 {
    margin-top: 8px;
}
mt-3 {
    margin-top: 12px;
}
mt-4 {
    margin-top: 16px;
}
mt-5 {
    margin-top: 20px;
} */
ml-1 {
    margin-left: 4px;
}
ml-2 {
    margin-left: 8px;
}
ml-3 {
    margin-left: 12px;
}
ml-4 {
    margin-left: 16px;
}
ml-5 {
    margin-left: 20px;
}

/* css element */
.form-builder button[ref="sidebar-anchor"] {
    width: 100%;
}

.form-builder div[ref="sidebar-container"] > span {
    width: 100%;
}

.form-builder div[ref="-container"] > span.drag-copy {
    width: 100%;
    margin: 4px 0;
}

/* Ant design css */
.ant-input {
    border-radius: 6px;
}
.ant-back-top {
    right: 35px;
}